.site-header
	margin 1.5em 0

	.site-title
		cursor pointer
		display inline-block
		font-size 1em
		font-weight 300
		margin 0

	nav
		display inline-block
		float right

.template-index-hero
	font-size 2em
	text-align center

.template-create-form
	font-size 2em

	button
		border-radius 2px
		font-size 0.8em
		margin-top 1em
		width 100%

.template-create-last-insert
	font-weight 300

	em
		font-style normal
		font-weight normal

.template-details-header
	h1
		display inline-block
		font-size 2em
		margin 0

	input
		display inline-block
		vertical-align text-bottom

.expenditure-group-day
	border-top 1px solid #f0f0f0
	padding 0.5em

	&:hover
		background-color #fcfcfc

		.expenditure-item-edit-buttons
			background-color #fcfcfc

.expenditure-item-display
	cursor pointer
	opacity 0.8

	&:hover
		opacity 1

		&:before
			color gray
			content '✎'
			display inline-block
			margin-left -1em
			vertical-align top
			width 1em

.expenditure-item-display-tags
	display inline-block
	max-width 70%

.expenditure-item-edit
	font-size 0.7em
	min-height 30px // (height of tags = 30px)
	position relative

	input
		background-color transparent
		margin-bottom 0
		margin-left 0.8em

		&:first-child
			margin-left 0

.expenditure-item-edit-date
	width 35%

.expenditure-item-edit-value
	width 15%

.expenditure-item-edit-tags
	width 40%

.expenditure-item-edit-buttons
	background-color #fff
	opacity 0.95
	padding-top 0.5em
	position absolute
	text-align center
	width 100%
	z-index 1

.expenditure-date
	font-size 1em
	font-weight normal
	margin-top 0

	i
		color #999
		font-style normal

	.expenditure-amount
		font-weight bold

.expenditure-amount
	display inline-block
	float right
	font-weight 600

	.currency-symbol
		font-weight lighter

.expenditure-tag
	background-color #eee
	border-radius 2px
	color #333
	display inline-block
	font-size 0.9em
	line-height 1.5
	margin 0.2em 0
	padding 0 0.2em

.currency-symbol
	font-style normal