.site-header
	margin 1.5em 0

	.site-title
		cursor pointer
		display inline-block
		font-size 1em
		font-weight 300
		margin 0

	nav
		display inline-block
		float right

.template-index-hero
	font-size 2em
	text-align center

.template-create-form
	font-size 2em

	button
		border-radius 2px
		font-size 0.8em
		margin-top 1em
		width 100%

.template-create-last-insert
	font-weight 300

	em
		font-style normal
		font-weight normal

.template-details-header
	h1
		display inline-block
		font-size 2em
		margin 0

	input
		display inline-block
		vertical-align text-bottom

.expenditure-group-day
	border-top 1px solid #f0f0f0
	padding 0.5em

	&:hover
		background-color #fcfcfc

.expenditure-item-display
	cursor pointer

	&:hover:before
		color gray
		content '✎'
		display inline-block
		margin-left -1em
		width 1em

.expenditure-item-edit
	font-size 0.7em

	.expenditure-item-edit-date
		width 35%

	.expenditure-item-edit-value
		width 15%

	.expenditure-item-edit-tags
		width 30%

.expenditure-date
	font-size 1em
	font-weight normal
	margin-top 0

	i
		color #999
		font-style normal

	.expenditure-amount
		font-weight bold

.expenditure-amount
	display inline-block
	float right
	font-weight 600

.expenditure-tag
	background-color #eee
	border-radius 2px
	color #333
	display inline-block
	font-size 0.9em
	line-height 1.5
	margin 0.2em 0
	padding 0 0.2em