@import 'type'
// @import 'forms'
// @import 'elements'

html
	// Stylus doesn't seem to like base64 URLs
	// background specified in galleon.css

body
	font-family	base-font-family
	font-size base-font-size
	margin 1em auto
	width 400px

.wrapper
	background #fff
	box-shadow 0 0 30px rgba(0, 0, 0, 0.03)
	padding 1em

h1, h2, h3, h4, h5, h6
	// margin-top 0

h1
	text-transform uppercase

ul
	list-style none
	padding 0

.hidden
	display none