.select2-container-multi .select2-choices
	background-image none
	border-color #eee
	border-style solid
	border-width 0 0 1px 0

.select2-container-multi.select2-container-active .select2-choices
	border-color gold
	border-width 0 0 1px 0
	box-shadow none

.select2-container-multi .select2-choices .select2-search-field input
	font-family inherit
	margin auto
	padding auto

.select2-container-multi .select2-choices .select2-search-choice
	background none
	box-shadow none
	border 0
	line-height 1.5
	margin auto
	padding auto

.select2-container-multi .select2-search-choice-close
	top 35%

.select2-drop
	margin-top auto
	border 0
	box-shadow 0 0 3px rgba(0, 0, 0, .15)

.select2-drop-active
	border 0

.select2-results .select2-highlighted
	background goldenrod