<template name="details">
	<div style="display: none"><h2>All Data</h2>

	{{#each expenditures}}
	<li data-id="{{_id}}">
		{{date}}
		<strong>{{formatAmount value currency}}</strong>
		{{#each tags}}
			<span class="tag">{{.}}</span>
		{{/each}}
	</li>
	{{/each}}</div>

	<header class="template-details-header">
		<h1>Details</h1>
		<input type="text" id="tag-search" value="{{tagSearchQuery}}" placeholder="(filter by tag)">
	</header>

	<!-- <p>Total {{totalAmount expenditures}} (all time)</p> -->

	<ul>
	{{#groupByMonth findByTag tagSearchQuery expenditures}}
		<li>
			<h2>
				{{formatDate 'MONTH_YEAR' date}}
				<span class="expenditure-amount">{{totalAmount monthlyExpenditures}}</span>
			</h2>

			<ul>
			{{#groupByDay monthlyExpenditures}}
				<li class="expenditure-group-day">
					<h3 class="expenditure-date">
						{{formatDate 'DATE' date}}
						<i>{{formatDate 'DAY' date}}</i>
						<span class="expenditure-amount">{{totalAmount dailyExpenditures}}</span>
					</h3>

					<ul>
					{{#each dailyExpenditures}}
						<li class="expenditure-item" id="{{_id}}">
							<div class="expenditure-item-display" data-id="{{_id}}">
								{{#each tags}}
									<span class="expenditure-tag">{{this}}</span>
								{{/each}}
								<span class="expenditure-amount">{{formatAmount value currency}}</span>
							</div>

							<div class="expenditure-item-edit hidden" data-id="{{_id}}">
								<form class="expenditure-item-edit-form">
									<input type="date" class="expenditure-item-edit-date" value="{{formatDate 'INPUT_DATE' date}}">
									<input type="text" class="expenditure-item-edit-value" value="{{value}}">
									<input type="text" class="expenditure-item-edit-tags" value="{{tags}}">

									<button type="submit" title="Save and close">✓</button>
									<button type="reset" title="Undo and close">×</button>
								</form>
							</div>
						</li>
					{{/each}}
					</ul>
				</li>
			{{/groupByDay}}
			</ul>
		</li>
	{{/groupByMonth}}
	</ul>

	<div style="display: none"><h2>Tags</h2>

	{{#each tagsWithCount}}
		{{name}}({{count}})

		{{#each findByTag name}}
			{{value}}
		{{/each}}
		<br>
	{{/each}}</div>
</template>