<template name="details">
	<h2>All Data</h2>

	{{#each expenditures}}
	<li data-id="{{_id}}">
		{{date}}
		<strong>{{formatAmount value currency}}</strong>
		{{#each tags}}
			<span class="tag">{{.}}</span>
		{{/each}}
	</li>
	{{/each}}

	<h2>Details</h2>
	<input type="text" id="tag-search" value="{{tagSearchQuery}}" placeholder="(filter by tag)">

	<p>Total {{totalAmount expenditures}} (all time)</p>

	<ul>
	{{#groupByMonth findByTag tagSearchQuery expenditures}}
		<li>
			<h2>{{formatDate 'MONTH_YEAR' date}} {{totalAmount monthlyExpenditures}}</h2>

			<ul>
			{{#groupByDay monthlyExpenditures}}
				<li>
					<h3>{{formatDate 'DATE' date}} {{formatDate 'DAY' date}} {{totalAmount dailyExpenditures}}</h3>

					<ul>
					{{#each dailyExpenditures}}
						<li>
							{{formatAmount value currency}}
							{{#each tags}}
								<span>{{this}}</span>
							{{/each}}
						</li>
					{{/each}}
					</ul>
				</li>
			{{/groupByDay}}
			</ul>
		</li>
	{{/groupByMonth}}
	</ul>

	<h2>Tags</h2>

	{{#each tagsWithCount}}
		{{name}}({{count}})

		{{#each findByTag name}}
			{{value}}
		{{/each}}
		<br>
	{{/each}}
</template>