<template name="index">
	<header class="site-header">
		<h1 class="site-title">Galleon</h1>
		<nav>
			{{#if currentUser}}
				<a href="#" class="show-create">Add</a>
				<a href="#" class="show-details">Details</a>
			{{/if}}

			{{loginButtons align="right"}}
		</nav>
	</header>

	<section class="wrapper">
		{{#if currentUser}}
			<section class="template-create">
				{{> create}}
			</section>

			<section class="template-details hidden">
				{{> details}}
			</section>
		{{else}}
			<div class="template-index-hero">
				<h1>Galleon</h1>
				<p>Easily track your expenses</p>
			</div>
		{{/if}}
	</section>

	<footer>
		<p>Fork on github: <a href="http://github.com/spinningarrow">spinningarrow</a>/<a href="http://github.com/spinningarrow/Galleon">galleon</a>.</p>
	</footer>
</template>