<template name="main">
	<p class="lead">
		On <input type="date" class="input-blank input-small" id="date" value="{{date_today}}">, <br>
		I spent <input type="text" class="input-blank input-mini" id="amount" placeholder="amount" autofocus>
		on <input type="text" class="input-blank input-medium" id="tags" placeholder="tags (space-separated)">.
		<button type="submit" class="submit btn-large">Submit</button>
	</p>

	<aside>
		<p>Total $<strong>{{total_month}}</strong> <em>(this month)</em>, $<strong>{{total_today}}</strong> <em>(today)</em>. <a href="#" class="container-toggle" data-toggle="expense-details">Details</a> &raquo;</p>
	</aside>
</template>